<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm bg-dark">
  <h5 class="my-0 mr-md-auto font-weight-normal text-white"><a class="p-2 text-white " href="{{ path('index') }}">Movie Gers</a></h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-white " href="{{ path('movie_list', {page: 1}) }}">Filmu sarasas</a>
    <a class="p-2 text-white" href="{{ path('reviews_list', {page: 1}) }}">Apzvalgu sarasas</a>
    <a class="p-2 text-white" href="">Filmo kurimas</a>
    <a class="p-2 text-white" href="">Filmo kurimas</a>
  </nav>
  {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <a class="btn btn-outline-danger" href="#">Atsijungti</a>
  {% else %}
  	<a class="btn btn-outline-primary" href="{{ path('login') }}">Prisijungti</a>
  	<a class="btn btn-outline-primary" href="{{ path('register') }}">Registruotis</a>
  {% endif %}
</div>
